$font-family-main: 'Open Sans', sans-serif;
$font-family-title:'Montserrat',sans-serif;
$font-size-main:18px;
$font-size-title:80px;
$font-size-title2:44px;
$color-title:#2C4058;
$color-main:#fff;
$color-hover:#3C4058;
$tarnsition-duriation:0.3s;